import { initializeApp } from "firebase/app";
import { getAnalytics } from "firebase/analytics";
import { getAuth } from 'firebase/auth';



const firebaseConfig = {
    apiKey: "AIzaSyDjbd63IYXpYZAOZzJpuDw38U2DvIbmQ9A",
    authDomain: "rtm-aktu-csc-socity.firebaseapp.com",
    projectId: "rtm-aktu-csc-socity",
    storageBucket: "rtm-aktu-csc-socity.firebasestorage.app",
    messagingSenderId: "954468108777",
    appId: "1:954468108777:web:be7f39fa52f657bf9de378",
    measurementId: "G-T6CN9SQ37N"
};

// Initialize Firebase
const app = initializeApp(firebaseConfig);
const analytics = getAnalytics(app);
export const auth = getAuth(app);
